@charset "UTF-8";
.menu, .menu li .dropdown-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu::after {
  content: "";
  display: block;
  clear: both;
}

.menu .menu-item a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-family: tahoma, arial, "Hiragino Sans Gb", "宋体", sans-serif;
  font-size: 16px;
}

.menu {
  width: 496px;
  margin: 50px auto;
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: -o-fit-content;
  width: -ms-fit-content;
}

.menu li {
  position: relative;
  float: left;
  background-color: #5bc0de;
}

.menu .menu-item {
  transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  -moz-transform: skewX(20deg);
  -o-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
}

.menu li:hover {
  background-color: #286090;
}

.menu .menu-item a {
  display: block;
  padding: 16px 32px;
  transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
}

.menu li .dropdown-menu {
  width: 124px;
  position: absolute;
  top: 52px;
  left: 50%;
  margin-left: -63px;
}

.menu .menu-item .dropdown-menu li {
  width: 100%;
  opacity: 0;
  visibility: visible;
}

.menu .menu-item:hover .dropdown-menu li {
  opacity: 1;
  visibility: visible;
  transition: all 0.4s ease;
  -webkit-animation: all 0.4s ease;
  -moz-animation: all 0.4s ease;
  -o-animation: all 0.4s ease;
  -ms-animation: all 0.4s ease;
}

.menu li .dropdown-menu li a {
  padding: 16px 16px;
}
