ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul,
li,
div {
    box-sizing: border-box;
}
h4 {
    margin: 0;
    font-weight: normal;
}
a {
    text-decoration: none;
}
i {
    font-style: normal;
}
.clearfix {
    content: "";
    display: table;
    clear: both;
}
.courses-container {
    width: 1200px;
    margin: 100px auto 100px;
    /* border: 1px solid #000; */
}
.courses-container .courses-list {
    width: 1230px;
    margin-left: -18px;
    /* border: 1px solid orange; */
}
.courses-container .courses-list .courses-item {
    float: left;
    width: 236px;
    height: 221px;
    position: relative;
    margin-left: 9px;
    padding: 7px 7px 10px;
    border: 1px solid transparent; /*事先设置透明边框*/
    /* border: 1px solid #000; */
}
.courses-container .courses-list .courses-item:hover {
    border: 1px solid #ddd;
    box-shadow: 0 0 5px #ddd;
}
.courses-container .courses-list .courses-item .courses-tip {
    position: absolute;
    top: 105px;
    left: 7px;
    width: 220px;
    height: 24px;
}
.courses-container .courses-list .courses-item .courses-tip .opacity-block {
    height: 100%;
    background-color: #000;
    opacity: .6;
    filter: alpha(opacity=60);
}
.courses-container .courses-list .courses-item .courses-tip .content-block {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 0 2px;
    color: #fff;
    font-size: 12px;
} 
.courses-container .courses-list .courses-item .courses-link {
    display: block;
    width: 220px;
    height: 124px;
    margin-bottom: 6px;
}
.courses-container .courses-list .courses-item .courses-link img {
    width: 100%;
    height: 100%;
}
.courses-container .courses-list .courses-item .courses-title {
    height: 40px;
    margin-bottom: 8px;
    line-height: 20px;
    font-size: 14px;
}
.courses-container .courses-list .courses-item .courses-title a{
    color: #333;
}
.courses-container .courses-list .courses-item .courses-title a:hover {
    color: #23b8ff;
}
.courses-container .courses-list .courses-item .courses-info {
    height: 24px;
    line-height: 24px;
}
.courses-container .courses-list .courses-item .courses-info .info-free {
    font-size: 14px;
    color: #5fb41b;
}
.courses-container .courses-list .courses-item .courses-info .info-price {
    color: #e85308;
}
.courses-container .courses-list .courses-item .courses-info .tip-badge {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding: 0 2px;
    border: 1px solid #e85308;
    font-size: 12px;
    color: #e85308;
    vertical-align: 2px;
}
.courses-container .courses-list .courses-item .courses-info .info-users {
    float: right;
    color: #999;
    font-size: 12px;
}
