$colors: (
    fill: #a972cb,
    pulse: #ef6eae,
    close: #ff7f82,
    raise: #ffa260,
    up: #e4cb58,
    slide: #8fc866,
    offset: #19bc8b
);


body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;   //自动占满整个可视区的高度
    background-color: hsl(235, 5%, 10%);
    color: #fff;
}
span {
    color: #F0E68C;
}
button {
    outline: none;
    border-width: 2px;
    border-style: solid;
    background-color: transparent;
    transition: all .3s linear;
}

@each $button,$color in $colors {
    .#{$button} {
        --color: #{$color};  //自定义属性
        --hover: #{adjust-hue($color, 45deg)};
    }
}
button {
    color: var(--color);
    border-color: var(--color);
    padding: 15px 40px;
    font-size: 20px;
    &:hover {
        border-color: var(--hover);
        color: #fff;
    }
}

.fill:hover {
    box-shadow: inset 0 0 0 32px var(--hover);
}

.pulse:hover {
    animation: pulse .5s linear;
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
    100% {
        box-shadow: 0 0 0 32px rgba(#fff, 0);
    }
}

.close:hover {
    box-shadow: 
    inset -66px 0 0 0 var(--hover),
    inset 66px 0 0 0 var(--hover);
}

.raise:hover {
    box-shadow: 0 8px 8px -6px var(--hover);
    transform: translateY(-4px);
}

.up:hover {
    box-shadow: inset 0 -54px 0 0 var(--hover);
}

.slide:hover {
    box-shadow: inset 124px 0 0 0 var(--hover);
}

.offset {
    box-shadow: 
    5px 5px 0 0 var(--color),
    inset 5px 5px 0 0 var(--color);

    &:hover {
        box-shadow: 
        0 0 0 0 var(--color),
        inset 124px 54px 0 0 var(--color);
        ;
    }
}