$width: 496px !default;
$bgColor: #5bc0de !default;
$color: #fff !default;
$hoverBgColor: #286090 !default;
$fontSize: 16px !default;
$fontFamily: tahoma, arial, 'Hiragino Sans Gb', '\5b8b\4f53', sans-serif !default;